@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}
body {
  /* background: linear-gradient(318.32deg, #c3d1e4 0%, #dde7f3 55%, #d4e0ed 100%); */
  background-color: #c9d6df;
  font-family: "Poppins", sans-serif;
}
main {
  /* display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0; */
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.container {
  border-radius: 10px;
  background: #c9d6df;
  border: 2px solid #b1bcc496;
  width: 400px;
}
h2 {
  text-align: center;
  margin: 0 0 20px;
}
.form {
  padding: 30px 40px;
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control label {
  color: #777;
  display: block;
}
.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}
.form-control input:focus {
  outline: 0;
  border-color: #777;
}
.form-control.success input {
  border-color: var(--success-color);
}
.form-control.error input {
  border-color: var(--error-color);
}
.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.form-control.error small {
  visibility: visible;
}
.form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 15px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  width: 99%;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #393b44;
}
